*{box-sizing: border-box;}
html{font-size: 20px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.grid{
    display: grid;
}
.header{
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 0.25rem 0.5rem;
}
h2{
    text-align: center;
}
.cuatro{
    grid-template-columns: 25% 25% 25% 25%;
}
.dos{
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}
.logo{
    padding: 0.5rem 0.25rem;
}
.tres{
    grid-template-columns: auto auto auto;
    padding: 0 0.25rem;
}
.tres > div{
    padding: 0.25rem;
    border-radius: 1.5rem;
}
.wrapper img{
    height: 25rem;
    border-radius: 1.5rem;
}
.wrapp img{
    width: 50%;
    border-radius: 1.5rem;
    justify-self: center;
}
.buttons{
    display: grid;
    justify-content: right;
    grid-template-columns: auto auto auto;
    gap: 0.25rem;
}
p.special{
    font-size: 3rem
}
#typewriter{
    border-right: 3px solid blue;
    overflow: hidden;
    display: inline-flex;
    letter-spacing: 0.2rem;
    animation: typist 2s steps(30, end) infinite, border_blink 0.5s step-end infinite;
}
@keyframes typist{
    from, to{
        width: 0
    }
    50%{width: 10rem}
}
@keyframes border_blink{
    from, to{border-color: transparent;}
    50%{
        border-color: blue;
    }
}
.price{
    text-align: center;
    font-size: 1.5rem;
    color: green;
    font-weight: bold;
    font-family: sans-serif;
}
.footer_nav p{
    color: #0e3264;
    font-weight: bold;
    font-size: 1.25rem;
}
.feature{
    align-items: center;
    grid-template-columns: auto auto;
}
.testimonials{
    grid-template-columns: auto auto;
}
.logos{
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-items: center;
}
.links{
    font-weight: bold; font-size: 1.5rem; grid-template-columns: auto auto auto auto;
}
.links a{
    padding: 0.25rem;
}
a:hover{
    font-style: italic;
    opacity: 0.7
}
.footer_nav a{
    display: block
}